:root {
  --lineHeight: 24px;
  --padding: 2rem;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#editor {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: top;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: var(--padding);
  min-width: 400px;
  background-color: #161524;
}

#editor .code,
#editor .preview {
  all: unset;
}

#editor .code,
#editor .preview {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  color: #999;
  display: block;
  font-family: monospace;
  font-size: 16px;
  outline: none;
  background: transparent;
  resize: none;
  line-height: var(--lineHeight);
  width: auto;
  box-sizing: border-box;
  white-space: pre-wrap;
  overflow: hidden;
}

#editor .preview {
  height: auto;
  pointer-events: none;
}

#editor .code {
  color: rgba(255, 255, 255, 0);
  caret-color: magenta;
}
